<form method="get" action="/mobile_offers">
  <div class="form-group">
    <div class="form-group col-sm-7 pull-left well">
      <label for="input_value">Enter the value of uid</label>
      <input type="text" class="form-control" placeholder="Uid" aria-describedby="basic-addon1" id="uid_value" required="true" name="uid">
    </div>

    <div class="form-group col-sm-7 pull-left well">
      <label for="pub0_value">Enter the value of pub0</label>
      <input type="text" class="form-control" placeholder="Pub0" aria-describedby="basic-addon1" id="pub0_value" required="true" name="pub0">
    </div>

    <div class="form-group col-sm-7 pull-left well">
      <label for="page_value">Enter the value of page</label>
      <input type="text" class="form-control" placeholder="Page" aria-describedby="basic-addon1" id="page_value" required="true" name="page">
    </div>

    <button type="submit" class="btn btn-primary form-group col-sm-7">Submit</button>

  </div>
</form>
